[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = ["requests (>=2.32.5,<3.0.0)", "prometheus-client (>=0.23.1,<0.24.0)", "prometheus-fastapi-instrumentator (>=7.1.0,<8.0.0)"]
