apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-app
spec:
  replicas: 2
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: main-app
  template:
    metadata:
      labels:
        app: main-app
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          resources:
{{ toYaml .Values.resources.main | indent 12 }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "python", "app.py" ]
          ports:
            - containerPort: 8081
          env:
            - name: CONNECTION_URI
              valueFrom:
                secretKeyRef:
                  name: database-pass
                  key: CONNECTION_URL
            - name: RABBIT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-pass
                  key: RABBITMQ_DEFAULT_PASS
            - name: RABBIT_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-pass
                  key: RABBITMQ_DEFAULT_USER
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-pass
                  key: SECRET_KEY

          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config
          startupProbe:
            httpGet:
              path: /api/probe
              port: 8081
            initialDelaySeconds: 10
            failureThreshold: 20
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /api/liveness
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/readiness
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10