apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-webui
spec:
  replicas: 1
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: webui
  template:
    metadata:
      labels:
        app: webui
    spec:
      containers:
        - name: webui
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
{{ toYaml .Values.resources.main | indent 12 }}
          command: [ "streamlit", "run", "./webui.py", "--server.port=8501", "--server.address=0.0.0.0", "--server.enableCORS=false", "--server.enableXsrfProtection=false" ]
          ports:
            - containerPort: 8501
          env:
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-pass
                  key: SECRET_KEY
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config
          startupProbe:
            httpGet:
              path: /_stcore/health
              port: 8501
            failureThreshold: 30
            periodSeconds: 2
          livenessProbe:
            httpGet:
              path: /_stcore/health
              port: 8501
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /_stcore/health
              port: 8501
            initialDelaySeconds: 5
            periodSeconds: 10